[Desktop Entry]
Exec=7b7b-config
Icon=preferences-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
Name=Desktop Configuration
Comment=Modify the desktop
OnlyShowIn=7b7b;
